body {
    background-image: url("../Images/blue_print_background.jpg");
    color:white;
    margin: 0;
}

header {
    max-width: 900px;
    border-radius: 20px;
    background-color: aquamarine;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav ul li {
    padding: 10px;
}

header nav ul li:hover {
    border-radius: 20px;
    background-color: red;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 50%;
    color: rgb(70, 139, 190);
}

#content  {
    padding: 5% 20%;
    background: rgb(33,34,34);
    background: linear-gradient(0deg, rgba(33,34,34,1) 65%, rgba(112,112,112,0) 100%); 
}

#content section:nth-child(1) img {
    width: 300px;
}

#content section:nth-child(1) h1 {
    font-size: 51px;
}

#feature {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

#Godot_renderer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.Citation {
    font-size: 10px;
    margin-bottom: 50px;
}

.Citation img {
    width: 100%;
}
